<div class="h-screen flex items-center justify-center text-zinc-900">
    <div class="grid grid-cols-12 gap-4 w-[70%] h-[80%]">
        <div *ngFor="let product of products" class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-3 2xl:col-span-3 p-2">
            <div
                class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded-4xl flex flex-col h-full bg-neutral-100"
            >
                <div class="bg-surface-50 flex justify-center rounded p-4">
                    <div class="relative mx-auto">
                        <img
                            class="rounded w-full"
                            [src]="product.image"
                            [alt]="product.title"
                            style="height: 200px"
                        />
                    </div>
                </div>
                <div class="pt-6 mt-auto">
                    <div>
                        <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                product.category
                            }}</span>
                        <div class="text-lg font-medium mt-1">{{ product.title }}</div>
                    </div>
                    <div class="flex flex-col gap-6 mt-6">
                        <span class="text-2xl font-semibold">{{ product.price | currency: 'EUR' }}</span>
                        <div class="flex gap-2">
                            <button
                                class="flex-auto whitespace-nowrap bg-zinc-900 text-neutral-100 rounded-2xl cursor-pointer"
                            >🛒 Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
